     <% i = 1%>
    <% @gossips.each do |t |%>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= t.content%></h6>
    <%= link_to "clique ici pour acceder au gossip", "gossip/#{i}", class: "card_link text-right"%>
  </div>
</div>
      <% i += 1%>
        <% end %>

