<h1 class="text-center">Contact</h1>

<p class="text-center">Pour nous contacter sur slack</p>
<ul class="list-group list-group-flush">
  <li class="list-group-item">@WANG Xuan</li>
  <li class="list-group-item">@LE HOUEZEC LACAZE Marius</li>
  <li class="list-group-item">@MONTAIGUT Luca</li>
  <li class="list-group-item">@IGIER Baptiste</li>
  <li class="list-group-item">@PERICHOT Thibault</li>
</ul>